@model ExpoTrack.Models.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<h2 class="text-center">Giriş Yap</h2>

<form asp-action="Login" method="post" class="w-50 mx-auto">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" type="password" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Giriş Yap</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
