@model ExpoTrack.Models.FuarEditViewModel


@{
    ViewData["Title"] = "OLUÞTUR";
}

<h1>Oluþtur</h1>

<h4>Fuarlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaslangicTarihi" class="control-label"></label>
                <input asp-for="BaslangicTarihi" class="form-control" />
                <span asp-validation-for="BaslangicTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BitisTarihi" class="control-label"></label>
                <input asp-for="BitisTarihi" class="form-control" />
                <span asp-validation-for="BitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <div class="form-group">
                    <label asp-for="Sehir" class="control-label"></label>
                    <select asp-for="Sehir" asp-items="Model.Sehirler" class="form-control">
                        <option value="">-- Þehir Seçin --</option>
                    </select>
                    <span asp-validation-for="Sehir" class="text-danger"></span>
                </div>

                
            <div class="form-group">
                <label asp-for="Yer" class="control-label"></label>
                <input asp-for="Yer" class="form-control" />
                <span asp-validation-for="Yer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
